[2014-11-12 16:19] mpociot opened #1 "Memory leak"
When scrolling through the CollectionView, the following objects don't get released:

Allocations after initial app start:

![image](https://cloud.githubusercontent.com/assets/804684/5013601/58076e7a-6a8f-11e4-94c0-ee10cc34703c.png)

After scrolling for a while, the labels and CollectionItemProxy objects don't get released and use up more memory.

[2014-11-12 16:20] mpociot opened #2 "Ability to set custom header and footer views"

[2014-11-12 16:26] mpociot opened #3 "Test Alloy support"
Alloy support needs to be tested.

I don't think this will work out of the box, so a custom widget needs to be created.

[2014-11-12 17:20] kosso opened #4 "Waterfall?"
Nice work.

How hard would it be to add a pinterest-like 'Waterfall' Layout ability using this?

https://github.com/chiahsien/CHTCollectionViewWaterfallLayout

[2014-11-12 20:44] #3 closed, assigned to nobody

[2014-11-12 20:45] mpociot opened #5 "Ability to define custom Cell and Item spacing"

[2014-11-12 23:05] viezel opened #6 "Feature: Pull to Refresh"
https://github.com/vlasov/CCBottomRefreshControl

[2014-11-12 23:07] viezel opened #7 "Feature: Android GridView"
I have a working module for this.. we just need to refacture into TiViewTemplates

[2014-11-13 10:44] mpociot opened #8 "App crashes when returning from another CollectionView"
When using the CollectionView within a NavigationWindow, the app crashes in the following scenario:
- Display CollectionView in NavigationWindow
- onItemclick - Open a new window with another CollectionView (everything's fine here)
- Use the NavigationWindow back button
- The CollectionView is visible, but the app instantly crashes

[2014-11-22 20:30] #8 closed, assigned to nobody

[2015-01-06 13:19] mpociot commented on #7
Fixed :)

[2015-01-06 13:19] #7 closed

[2015-01-06 13:19] #1 closed

[2015-01-06 13:20] mpociot opened #9 "Android: Sections don't add horizontal breaks"
When adding multiple sections on Android, the sections don't get separated by a horizontal spacing.

[2015-01-06 13:25] mpociot commented on #4
I think this might be a good Android counterpart https://github.com/etsy/AndroidStaggeredGrid

[2015-01-09 17:28] deckameron opened #10 "Couldn't find the module"
Hi mpociot,

I am trying to use your module on an iphone app but I get this error.
I am using Titanium build: 3.4.1.201410281727 and SDK 3.4.1.

Thank you!

[2015-01-09 19:38] mpociot commented on #10
Could you please provide a more detailed error description?
How did you install the module?

Take a look at: http://gitt.io/component/de.marcelpociot.collectionview

[2015-01-12 13:22] deckameron commented on #10
I installed it by unziping the dist file into my "modules/iphone" folder of my project.
I did it just like with the other modules I work with.

[2015-01-12 20:17] mpociot opened #11 "Calendar Layout"
It'd be cool to have a calendar layout:

https://github.com/erichoracek/MSCollectionViewCalendarLayout

If anyone knows of a similar thing for android (that uses the gridview), let me know!

[2015-01-12 21:40] mpociot commented on #10
Could you please provide a log file?

[2015-01-12 21:41] mpociot commented on #4
iOS is now implemented in version 1.1.0

[2015-01-12 21:43] viezel commented on #4
:+1: very nice!

[2015-01-12 21:56] kosso commented on #4
Cool! thanks!

[2015-01-12 23:16] yozef commented on #4
Just tested it out in simulator! nicely played :)

I'm curious if Ti.UI.iOS.createAnimator on the items of the CollectionView is possible, just as in native development.

[2015-01-13 08:31] nicka commented on #11
That would be really awesome!

[2015-01-13 08:52] FokkeZB commented on #11
I have an (client) app that has a similar calendar layout but then horizontally. It currently uses a giant ScrollView with some rendering tricks. Would be nice to have that as a layout option as well:

![ios simulator screen shot 13 jan 2015 09 51 16](https://cloud.githubusercontent.com/assets/2699409/5718071/de4ef21e-9b09-11e4-82bb-971d1e9c3076.png)

[2015-01-13 14:07] viezel commented on #6
maybe implement it like this:
http://docs.appcelerator.com/titanium/3.0/#!/api/Titanium.UI.ListView-property-pullView

    <PullView>
      <View height="50" backgroundColor="black">
        <Label>Pull To Refresh</Label>
      </View>
    </PullView>

[2015-01-13 19:49] ak0815 commented on #10
Hello,

i have the same Problem. iOS:

[DEBUG] :  Reading stylesheet from: /Users/andreaskopf/Library/Developer/CoreSimulator/Devices/65A9925A-3C77-4F2A-BF08-BFCEAF93C33C/data/Containers/Bundle/Application/DDDD8D8B-4BBE-425F-89AA-4C51DD88485F/TEST APP.app/stylesheet.plist
[DEBUG] :  2015-01-13 20:48:26.702 TEST APP[34093:910199] You've implemented -[<UIApplicationDelegate> application:performFetch

[2015-01-13 20:12] ak0815 commented on #10
It works:

wrong:
var listView = require("CollectionView")".createCollectionView({

right:
var listView = collectionView.createCollectionView({

[2015-01-13 20:20] mpociot commented on #10
@ak0815 this only works on iOS.
To support iOS and Android you need to use the CommonJS file, provided in the "lib" folder , and include it in your Titanium project.

See: https://github.com/mpociot/TiCollectionView/blob/master/lib/CollectionView.js

I think the documentation needs to clarifies this a bit more.

[2015-01-13 20:26] ak0815 commented on #10
Thanks. Now it works :-)

One Question:

How do I enable Waterfall? To:

 layout:'LAYOUT_WATERFALL',
    columnCount:3,
    minimumColumnSpacing:10,
    minimumInteritemSpacing:5,
    renderDirection:'DIRECTION_SHORTEST_FIRST'

BG
Andy

[2015-01-13 20:31] mpociot commented on #4
Thanks for testing this @yozef !

[2015-01-13 20:34] mpociot commented on #10
These properties are module constants.

Apply them like this:

[code]

[2015-01-13 20:50] ak0815 commented on #10
Thank you very much

[2015-01-13 20:59] #10 closed

[2015-01-14 11:56] mpociot commented on #6
Added in PR #12 by @adesugbaa :+1:

[2015-01-14 11:56] #6 closed

[2015-01-14 16:55] deckameron commented on #10
Thank you very much @mpociot  and @ak0815 !
With your explanation I was able to get it working.

[2015-01-14 16:59] deckameron opened #14 "Dynamic loading"
Is it possible to use a event listener for the scroll event in order to use dynamic loading?
I tried to use it like this:

listView.addEventListener('scroll', function(){
    Titanium.API.info('scrolling...');
});

The event never gets fired.
Am I doing anything wrong?
Thank you!

[2015-01-14 17:19] darknos commented on #14
with listview you can use setMarker({sectionIndex:5, itemIndex:10}); and "marker" event, but I'm not sure that it will work with TiCollectionView

lets ask author :)

[2015-01-14 17:49] yuchi commented on #11
@FokkeZB great screen dude!

[2015-01-14 19:31] mpociot commented on #11
@FokkeZB hm..don't know if the layout can be implemented in such a flexible way, as this is a very special use case

[2015-01-14 20:24] yozef commented on #11
Another option... is this one https://github.com/leverdeterre/CalendarIOS7

[2015-01-14 20:28] mpociot commented on #11
I think the whole calendar thing might become too complex for the CollectionView module. Maybe it would make more sense to make a custom module out of it.

[2015-01-14 21:12] FokkeZB commented on #11
+1 for (draggable) cross platform calendar module

[2015-01-18 13:57] kosso opened #15 "x86_64 error when building with 3.5.0.GA"
Hi,
When trying to use your 1.1.2 version with Ti SDK 3.5.0.GA, the red screen of death appears in the app with this error :

[INFO] :   [object DeMarcelpociotCollectionviewModule] loaded
[ERROR] :  Script Error Couldn't find module: CollectionView for architecture: x86_64

Has this module been correctly updated for 64-bit?

thx.

[2015-01-18 14:03] yozef commented on #15
That's Odd, the Module version 1.1.2 works for me on Ti 3.5.0.GA.

I've gone ahead and tried:
[code]
Are you sure you're using 1.1.2?

[2015-01-18 14:11] kosso commented on #15
Aha! I know what the problems was.

I has been testing the example app.js here which contains an error :

Line 32 has `var listView = require("CollectionView").createCollectionView({ ... `

[2015-01-18 14:11] #15 closed

[2015-01-18 14:12] mpociot commented on #15
Yes, that's not an error, it's the CommonJS module used for Android :)

[2015-01-18 14:24] #11 closed

[2015-01-18 14:24] mpociot commented on #14
No, the "marker" event isn't implemented yet.

[2015-01-18 14:29] kosso commented on #15
Do you have a correct example app.js for iOS to demonstrate the Waterfall layout, please?

[2015-01-18 14:30] yozef commented on #15
Try this:
[code]

[2015-01-18 14:33] kosso commented on #15
Perfect! Thanks @yozef ! ;)

[2015-01-18 14:43] kosso commented on #15
Is it possible to dynamically change the listView.columnCount? eg: On orientation change?

[2015-01-18 15:01] yozef commented on #15
I don't think so... I tried the following:
[code]
However, I think it should be easy to implement a setColumnCount in `DeMarcelpociotCollectionviewCollectionViewProxy.m`

[2015-01-18 15:02] kosso commented on #15
Yeah. That JS exactly what I just tried.

It would certainly be a useful enhancement for different orientations and device sizes.

[2015-01-18 16:22] viezel commented on #15
@mpociot I think you are missing the arch info here: https://github.com/mpociot/TiCollectionView/blob/master/iphone/manifest

Here is a comparison with one of my modules: https://github.com/viezel/NappDownloadManager/blob/master/iphone/manifest#L6

[2015-01-18 19:22] mpociot commented on #15
@viezel you're right..I only did the xcode changes.

[2015-01-22 19:36] yozef opened #16 "Facebook Paper-style UICollectionView"
I came across this git: https://github.com/hebertialmeida/HAPaperViewController
Which uses UICollectionView Layout & transitions.

[2015-01-22 21:40] viezel commented on #16
Very cool

[2015-01-24 16:04] ak0815 commented on #14
@mpociot Kannst du das Scroll Event vielleicht hinzufügen? Das wäre echt Klasse.

[2015-01-24 21:13] mpociot commented on #14
So I took a look at it again.
I was wrong , the "marker" event is implemented :)

Use it, as you would with a regular listView.

[code]

[2015-01-24 21:13] #14 closed

[2015-01-27 06:47] tujoworker opened #18 "listView.setEditing and canMove/canEdit"
Hi Marcel,

it looks for me that editing mode, special the move mode is not implemented yet, right?
Some thoughts about that from your side?

[2015-01-28 17:49] AppWerft commented on #4
+1

[2015-01-29 18:00] deckameron commented on #4
Hi @yozef,

I tried your solution on Android but it did not work!
The item gets inserted on the listView but it shows just a white square instead.
Did you experience this behaviour on your tests?

My best,

[2015-01-29 18:01] yozef commented on #4
@deckameron I just tried it on iOS

[2015-01-29 18:03] deckameron commented on #4
@yozef Thanks! :)

[2015-01-29 19:24] mpociot commented on #4
Hey @deckameron ,

the waterfall layout is not available for Android.
I'm working on it ;)

[2015-02-04 09:33] abada opened #20 "[ERROR] : Script Error Couldn't find module: CollectionView for architecture: x86_64"
Ti SDK : 3.5.0

TiCollectionView version 1.2.0 (latest version)

I tried to install this module from gitt.io but give me

[INFO]  de.marcelpociot.collectionview searching...
[ERROR] de.marcelpociot.collectionview:commonjs no distributable available
[ERROR] de.marcelpociot.collectionview:android no distributable available
[ERROR] de.marcelpociot.collectionview:ios no distributable available

when i

[2015-02-04 11:16] mpociot commented on #20
Hi,

please download the "CollectionView" commonJS module from: https://github.com/mpociot/TiCollectionView/tree/master/lib and place it in your "lib" directory.

[2015-02-04 11:16] #20 closed

[2015-02-04 11:28] yuchi commented on #20
@mpociot, why aren’t you using [this method](http://docs.appcelerator.com/titanium/latest/#!/guide/Titanium_Module_Concepts-section-35621751_TitaniumModuleConcepts-PackagedJavaScriptandHybridModules) to package your js file directly in the module? What’s stopping you? Did you tested it and it‘s not working?

[2015-02-04 11:33] yuchi commented on #20
It says:

[2015-02-04 16:54] kilyan-s opened #21 "Compiling problem with 64bits module of TiCollectionView"
I tried to compile the application on an iPhone 6 plus (with TiCollectionView 1.2.0 and my module compilation version is 3.5.0.GA of Titanium SDK), I got an error:

(My application are compiled with 3.5.0.GA)

Thank you
-------
"Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$_TiSelectedCellBackgroundView", referenced from:
      objc-class-ref in libde.marcelpociot.collectionview.a(DeMa

[2015-02-04 19:11] mpociot commented on #21
Hi,
Right now the Pull To Refresh dependency is hard coded. For an easy fix place this somewhere in your code:

[code]

This forces Titanium to include the refresh control header files

[2015-02-04 19:14] yuchi commented on #21
There's a constant to be used with `#IFDEF` if you want to make the code more solid on this side.

[2015-02-05 01:04] yuchi commented on #21
[Here it is](https://github.com/smclab/TiSoftKeyboard/blob/870a990fabe77be319f23f63f2c52d86faaa1568/Classes/TiUIScrollViewProxy%2BKeyboardDismiss.m#L18) in one of our modules, and [here’s the actual code](https://github.com/appcelerator/titanium_mobile/blob/afc36d4f421424dc1ef6d618201f43616bb7857b/iphone/Classes/TiUITableView.h#L15) from @appcelerator.

**should** be:

[code]

[2015-02-05 01:06] yuchi commented on #21
Wait, you’re [already doing it](https://github.com/mpociot/TiCollectionView/blob/a8a520d9c5ae76b927566cfd4f25472a72814bc3/iphone/Classes/DeMarcelpociotCollectionviewCollectionView.m#L17).

Sorry…

[2015-02-05 08:15] kilyan-s commented on #21
It worked for the pull to refresh error thank you but I still have the SelectedCellBackgroundView error. I added the property selectedBackgroundColor to each item in the collectionView but nothing changed.

----
"_OBJC_CLASS_$_TiSelectedCellBackgroundView", referenced from:"

[2015-02-06 14:31] kilyan-s commented on #21
I can't figure out why I have this error, I tried to compile with an older version of Titanium's SDK but it doesn't work either. I can't run the app on a device, do you know why I have this error ?

[2015-02-09 10:05] francois-ubg opened #22 "Problem with TiSelectedCellBackgroundView and ARM64 architecture"
Hi,

Thanks for your job @mpociot !

When i try to compile for 64bit devices i have an error :

Titanium SDK vers : 3.5.0.GA and Module version 2.0

[code]

I tried to add "Ti.UI.createRefreshControl({});" but i have the same problem...

[code]

I can't distribute my application ...

Thanks for your help.

François

[2015-02-10 12:53] mpociot commented on #21
Sorry, still need to look into it. I'm not having an issue with this (on device and simulator)

[2015-02-12 17:26] sebzincktiz opened #23 "Error when building on iOs device"
Hello,
got the following error when building on iOs device (works on simulator).
Any idea ?

Thanks you

My config:
Iphone 5s
Titanium Command-Line Interface, CLI version 3.4.1, Titanium SDK version 3.5.0.GA

[ERROR] :  2015-02-12 18:19:22.845 xcodebuild[25380:709992] [MT] DVTAssertions: Warning in /SourceCache/IDEFrameworks/IDEFrameworks-6611/IDEFoundation/SourceControl/Model/IDESourceControlMana

[2015-02-12 19:50] mpociot commented on #23
To be honest, I don't think that this is related to my module.
Do you have a "loadRepositories" function somewhere in your code?

[2015-02-13 07:57] sebzincktiz commented on #23
No I don't have any repositories. If I remove the module in Tiapp.xml it works.

[2015-02-14 14:34] julien9999 opened #24 "Example with son data"
Hi, is it possible to have an example using alloy to populate the collection view when getting son from internet ?
thanks in advance

[2015-02-20 11:55] Scyns commented on #23
I'm experiencing the same issue.

[2015-02-21 21:48] mpociot commented on #21
Okay - so I finally had the time to look into this issue.

The module uses the "TiSelectedCellbackgroundView" class from the base SDK. That class only gets included when you use a table- or listview somewhere in your app.
So as a hotfix, similar to the refresh control, add this somewhere in your code:

`Ti.UI.createTableView({})`

That should do the trick until a new version is out.

[2015-02-27 15:03] boardmain opened #25 "how set the LAYOUT_WATERFALL"
hi how to set the LAYOUT_WATERFALL or the  columnCount with alloy?

im doing this

[code]

but the layout type and the columnCount are ignored

[2015-03-03 22:21] jonasfunk commented on #2
+1

[2015-03-05 15:39] boardmain commented on #8
hi have the same problem.. in the simulator work and in the phone also work
in the tablet it crash whit this error

[code]

[2015-03-05 15:56] boardmain opened #26 "App Crash on iPad returning to a view with collection view"
if i open a subview from the collection and i come back to the collection view.. in the simulator work and in the phone also work in the ipad it crash whit this error

[code]

[2015-03-05 16:40] boardmain commented on #26
it crash also in the ipad simulator
only iphone device and simulator work

[2015-03-05 19:25] mpociot commented on #26
Hi,

can you please give me an example app.js with it crashing?

I'm using this in a production iPad app with no issues.

[2015-03-05 22:16] boardmain commented on #26
yes tomorow i will send it, im using it in alloy

[2015-03-06 08:27] boardmain commented on #26
ok this is my code

Alloy View:
[code]

and in the controller

[code]

(build function simply create objects for the list
for example
[code]

lotti is my collection

and this the click event

[code]

in the iphone all is working correctly

in the ipad is blocked

[2015-03-06 09:04] boardmain commented on #26
i created a simple example
you can download it here

https://mega.co.nz/#!zY8wRKCY!x4hr9vtjCcn1YD0wSBueVD14BNH0vVgcvdmKiR2LIfk

in the iphone it work
in the ipad crash (device and simulater is the same)

[2015-03-06 09:06] mpociot commented on #26
Thank you! I'll try to look at this asap

[2015-03-06 11:12] boardmain commented on #26
i think to have solved the error is on the way i managed the views... (now im investigating why the error occours only whit the ipad )

[2015-03-13 20:11] TheBrousse commented on #22
It seems the problem only occurs on device. It works well in simulator.

[2015-03-14 22:31] mpociot commented on #22
Well it's hard for me to reproduce this issue.

I'm using my module in an iPad app, that is already used in production, without having this issue.
So my guess would be that it somehow relates to the UI that is used.

It would be great if someone could provide me with some code to reproduce the bug.

[2015-03-14 22:31] #21 closed

[2015-03-14 22:32] mpociot commented on #23
Could you add some example code?

[2015-03-15 13:32] TheBrousse commented on #22
I have pushed the following test project (which is basically the test app using vers 1.2.0 of the module). It even fails on my simulator with Titanium 3.5.1.GA.

https://github.com/TheBrousse/collectiontester

Hope this helps

[2015-03-22 17:56] mokesmokes commented on #5
Any update on this? These parameters don't seem to work right on iOS (have yet to test on Android).

[2015-03-23 09:02] viezel commented on #5
@mokesmokes what is not working ? I use those and they work for me. Remember its for sections, not the collectionview itself.

[2015-03-25 08:45] andersdp commented on #2
+1

[2015-03-26 20:34] TheBrousse opened #27 "Example app won't run on Simulator with Ti 3.5.1.GA"
The very basic *classic* Titanium example app provided with the module will not run on the iOS Simulator (selected iPad Air running iOS 8.2). Right at startup, we are shown with the following Error message: **"Couldn't find module: CollectionView for architecture: x86_64"** (see screenshot enclosed)

I created a standalone test project that reproduces the issue, this should make it easier for you

[2015-03-26 21:00] mpociot commented on #27
Hey,

that's because you need to include the commonJS library from the `lib` folder.
I really need to clarify this and improve the example...

[2015-03-26 21:13] TheBrousse commented on #27
That did the trick thank you.
I would have read more thoroughly the documentation.

[2015-03-26 21:14] #27 closed

[2015-03-26 21:40] TheBrousse opened #28 "Example app won't run on iPad Air with Ti 3.5.1.GA"
The same test project based on the example app fails to compile when targeting a physical iPad Air running iOS 8.2.

When running the project, the log mentions something about being unable to link (My Objective-C-Fu is not as good as yours, so I assume it's the linker)

[code]

Opening the generated Xcode project from the `build` directory shows the following errors in the warnings view. Hence the

[2015-03-27 14:37] ehijzen commented on #25
I did
<ListView id="listView" backgroundColor="white" defaultItemTemplate="template" module="CollectionView" method="createCollectionView" columnCount="2" layout=1>

[2015-04-06 08:04] viezel commented on #28
Hi, I had the same error... you just need to add the following:

      // add this in app.js / alloy.js to trigger the compiler flags of those SDKs
     Ti.UI.createListView();
     Ti.UI.createRefreshControl();

[2015-04-06 08:06] viezel commented on #28
its because the Ti SDK detects if you use listview, tableview and refreshcontrol in your javascript code. if you dont it will not compile the sdks. therefore it fails. But if you add those to your app code, it will detect it and thereby it works.

[2015-04-08 11:46] mpociot commented on #2
Fixed with the latest PR

[2015-04-08 11:46] #2 closed

[2015-04-17 10:49] IonRod commented on #4
@mpociot
Hi!
What about waterfall layout on Android? Maybe I could help you to implement it if you'l tell me what to do?

[2015-04-22 08:52] nuno opened #34 "Change the scroll direction in UICollectionView"
Nice to have @mpociot
http://stackoverflow.com/questions/18464153/how-can-i-change-the-scroll-direction-in-uicollectionview

[2015-04-22 09:13] Scyns commented on #23
I don't seem to get the error anymore. Don't know what sorted it out.

[2015-04-28 06:43] jonasfunk opened #35 "iOS: Header and footer for sections is not shown."
Running the included example does not show header and footer for sections.
Using version 1.3.0.

[2015-04-28 07:59] mpociot commented on #35
With the Alloy example?

[2015-04-28 08:04] jonasfunk commented on #35
Yes, with the alloy example.

[2015-04-29 08:23] jonasfunk commented on #35
Just tested the example in classic version. No luck there either.

[2015-05-02 11:00] IonRod commented on #35
Yep, got the same problem.

Also (i think it is connected) the https://github.com/FokkeZB/nl.fokkezb.infiniteScroll is not visible too.

[2015-05-02 11:29] IonRod commented on #35
@adesugbaa
Could you check that problem out?

[2015-05-06 16:00] korelogic opened #37 "Can we have a new distribution build with the updateItemAt fix?"
[UICollectionView cellForRowAtIndexPath:]: unrecognized selector sent to instance 0x7927b800

[2015-05-12 10:55] nuno commented on #37
Yeah will nice to download to a new build dist :)

[2015-05-12 14:57] skoften commented on #37
same request, because compiling the module manually generates an error after compiling the app:

[ERROR] :  ** BUILD FAILED **
[ERROR] :  The following build commands failed:
[ERROR] :  	Ld build/Trending.build/Debug-iphonesimulator/Trending-universal.build/Objects-normal/i386/Trending normal i386
[ERROR] :  	Ld build/Trending.build/Debug-iphonesimulator/Trending-universal.build/Objects-normal/x86

[2015-05-12 19:07] mpociot commented on #37
Version 1.3.1 is now available

[2015-05-12 19:07] #37 closed

[2015-05-12 19:07] mpociot commented on #35
Please try again with version 1.3.1 - thank you

[2015-05-12 19:08] #28 closed

[2015-05-12 19:08] mpociot commented on #26
Did you find what was causing this issue?

[2015-05-12 19:10] mpociot commented on #25
Did you solve this?
I'm not sure if it works inside the XML files, but it should work this way in the TSS files

[2015-05-12 19:10] #23 closed

[2015-05-12 19:36] IonRod commented on #35
@mpociot
HeaderView is OK while FooterView still do not work but mb I've done something wrong.
Could you commit all the changes?

[2015-05-12 19:50] jonasfunk commented on #35
Thanks for looking in to this, Marcel! Tested and this is what I have found:
1) It's not possible to have different section headers. The last section header is shown in all sections.
2) The latter also affects the global section header.
3) Its only possible to set the global section header programmatically (or is it?)

[2015-05-12 21:00] mpociot commented on #34
It's available in version 1.4.0
But it seems that this is only possible on iOS

[2015-05-12 21:00] #34 closed

[2015-05-12 21:02] nuno commented on #34
:+1:

[2015-05-15 15:46] skoften opened #38 "adding property borderWidth and borderColor are crashing the app"
adding these properties when creating the list, crashes the app and gives this error:

[ERROR] :  The application has crashed with an uncaught exception 'org.trending.DeMarcelpociotCollectionviewCollectionView'.
[ERROR] :  Reason:
[ERROR] :  Invalid type passed to function
[ERROR] :  Stack trace:
[ERROR] :
[ERROR] :  0   CoreFoundation                      0x05b9172a __exceptionPreprocess + 154
[E

[2015-06-02 21:03] julien9999 commented on #16
Anyone made this for titanium ?

[2015-06-03 09:37] yomybaby commented on #35
FooterView still does not work.

Ti 4.0.GA
collectionView 1.4.0

[2015-06-03 09:51] skoften commented on #35
I can confirm it, still waiting for a fix.

[2015-06-09 14:05] nuno opened #39 "willScrollOnStatusTap"
Hello @mpociot wondering why I cant get this work, any thoughts?

```willScrollOnStatusTap: true```

Thanks
- Nuno

P.S. Not sure if is actually this modules issue but the TiSdk itself.

[2015-06-09 16:17] nuno commented on #38
@skoften, for this kinda of stuff I do always one Ti.View wrapper:

ex:
XML
[code]
TSS
[code]

[2015-06-13 21:58] kodamirmo opened #40 "arm64 error when building with 4.0.0.GA"
Hi,
Im trying to use the last version of TICollectionView but, i have not been able to done.
Any idea? Thanks

Log when I tried with Device:

[INFO] :   Image optimization complete
[ERROR] :  *\* BUILD FAILED **
[ERROR] :  The following build commands failed:
[ERROR] :   Ld build/GoAndSee.build/Debug-iphoneos/GoAndSee-universal.build/Objects-normal/arm64/GoAndSee normal arm64
[ERROR] :  (1 failure

[2015-06-14 05:19] thehollowearth commented on #40
## same error when building with 3.5.1.GA
`
[ERROR] :  ** BUILD FAILED **
[ERROR] :  The following build commands failed:
[ERROR] :  	Ld build/HelloWorlder.build/Release-iphoneos/HelloWorld-universal.build/Objects-normal/armv7/HelloWorld normal armv7
[ERROR] :  	Ld build/HelloWorld.build/Release-iphoneos/HelloWorld-universal.build/Objects-normal/arm64/HelloWorld normal arm64
[ERROR] :  (2 failures

[2015-06-14 05:21] kodamirmo commented on #40
yep, when Im using the simulator all its right. but no luck with a real iphone

[2015-06-14 09:14] thehollowearth commented on #40
I dont know if this is a requirement. But Author i.e.  Marcel Pociot should register this module at Appcelerator Marketplace and obviously we'd like if its available for free. It is possible that at the end step of xcodebuild while packaging/publishing the app, its connecting to internet and validating each module's validity and in such case if module is not present, it may be throwing some error.

[2015-06-14 09:14] thehollowearth commented on #22
I dont know if this is a requirement. But Author i.e.  Marcel Pociot should register this module at Appcelerator Marketplace and obviously we'd like if its available for free. It is possible that at the end step of xcodebuild while packaging/publishing the app, its connecting to internet and validating each module's validity and in such case if module is not present, it may be throwing some error.

[2015-06-15 12:47] nuno commented on #39
@mpociot I don't think is nothing related to this module, im closing it.

[2015-06-15 12:47] #39 closed

[2015-06-17 16:13] badaniu opened #41 "Cannot publish app using this module. This module doesnot work for real iphone/android phones."
i have tried building module in xcode, it doesn't works. build fails for armv7 and arm64. Cannot publish app when using this module. unless its fixed this module is of no use.

[2015-07-06 14:25] mpociot commented on #41
Related to #40

[2015-07-06 14:26] mpociot commented on #40
Are there more log entries available?
I'm using this module in a lot of production apps, and I'm not getting this error.

[2015-07-06 14:53] nuno commented on #40
Yes works fine here too.

[2015-07-08 09:27] ShapeShifters commented on #40
Well, i'm also getting this error similar to @thehollowearth. From where should i get more log data? Let me  know i'll post it.
I also tried rebuilding the ios module, it fails there too with error **file not found** while importing  "CHTCollectionViewWaterfallLayout.m". and many other cannot find file error while building it. These files are apparantly in **/lib** folder (TiCollectionView/iphone/

[2015-07-16 20:42] SkipperJohn-whqjvaap opened #42 "Error on Android"
2 errors one after another during runtime in android.

----------------------------------------------------------------------------------------------------
[ERROR] :  TiExceptionHandler: (main) [8266,22027] ----- Titanium Javascript Runtime Error -----
[ERROR] :  TiExceptionHandler: (main) [0,22027] - In CollectionView.js:54,7
[ERROR] :  TiExceptionHandler: (main) [0,22027] - Message: Uncaught Typ

[2015-07-17 10:14] skoften opened #43 "listView not showing (randomly, on initial creation) on 4.1.0.GA"
I have a listView with 2 columns for iPad users which worked fine, until I tried to build it with 4.1.0.GA.

The listView doesn't show up the first time. After a refresh, which removes the listView from his parent container, and re-adds it again, it seem to work fine again.

Logs:

[INFO] :   [object DeMarcelpociotCollectionviewModule] loaded
. here I am loading the remote JSON feed, creating and

[2015-07-17 10:44] nuno commented on #43
@skoften Hey, is nothing to do with this cool module, is abug on ti sdk 4.1.GA, see for you self

[https://jira.appcelerator.org/browse/TIMOB-19209](https://jira.appcelerator.org/browse/TIMOB-19209)

I have this issue too.

[2015-07-17 10:46] caspahouzer commented on #43
Nuno, can you please push the issue with a comment. It’s important to gain more user with this problem to get it fixed asap!

- Sebastian

[2015-07-17 10:50] nuno commented on #43
@caspahouzer sorry?

[2015-07-17 10:56] skoften commented on #43
@nuno, ah, that could be it. Although I currently have a fixed/static height on the item row.

Thanks for your reply!

[2015-07-17 11:03] nuno commented on #42
@SkipperJohn-whqjvaap What I did to solve that error was in app/lib/CollectionView.js put the ```Ti.UI.createRefreshControl();``` in the ios block, Fixed for me.

[code]

[2015-07-18 15:34] SkipperJohn-whqjvaap commented on #42
why is headerView & footerView of list not showing up in ios?

[2015-07-20 06:44] yuchi commented on #42
@SkipperJohn-whqjvaap probably related: #35

[2015-07-20 09:34] #42 closed

[2015-07-28 10:20] clairecoloma opened #44 "Dynamic data with flexible size"
Hi @mpociot, thank you for your great module.

I wonder the reason why we have to fix the size of an item?
And why can't we just use Ti.UI.SIZE?

Is that possible to add these lines to the CollectionView.m to set size of each item?
https://github.com/appcelerator/titanium_mobile/blob/master/iphone%2FClasses%2FTiUIListView.m#L1616

Cheers

[2015-08-19 20:50] heedoo-ci opened #45 "scrollstart or scrollend event is not firing - need implementation"
SDK 4.1.0 has scrollstart and scrolled event for listView but when I added this module, it's not firing.

[2015-08-21 12:57] nuno commented on #45
Hey @mpociot,
  I can confirm this, those events should be added to the module or they can be connected with ListView api automatic?

[2015-08-21 13:04] nuno commented on #44
@clairecoloma,
there are some ways to do so,  you can use

alloy.js
[code]

tss
[code]

or you can play with  ```Ti.UI.FILL / Ti.UI.SIZE``` with Views inside or the itemTemplate

[2015-09-09 03:47] nuno commented on #45
@mpociot I'm implementing the scrollstart and scrolled event for listView, any change to you review it?

[2015-09-09 05:50] nuno commented on #45
@mpociot @viezel  please review and test,  probably need some adjusts.  (seems to work ok here)
[code]

https://github.com/nuno/TiCollectionView/commit/55d36fddfbc9b316b88bf6a1b1920e6190509586

[2015-09-09 06:07] yuchi commented on #45
If I was you guys I'd go that extra mile and implement also the `scroll` event itself. This is something I really don't understand why it's missing on the ListView API, apart from forcing users to use markers…

[2015-09-09 11:18] nuno commented on #45
Hey @yuchi I need this events for  markers exactly.
Try follow this algorithm:

1) App was loaded, with collectionView items via normal "xhr request",  "page?1" each page have 24 items . ```setItems```

2) if we scroll-up we load "loadmore" data. Is our pagination via "xhr request", each page "page?1...2...3 " have 24 items.  ```appendItems```

3) if I scroll down near to the top and items are bet

[2015-09-09 13:56] nuno commented on #45
Definitely there is a leak!  Im trying to see if I introduced this leak.
I probably  did not release/clean the event somewhere.

[2015-09-10 20:34] nuno commented on #45
Hello everyone I found the module have a leak already in 1.4 version.
@yuchi about the scroll event itself is actually a good idea.

If the author @mpociot  have like 10 minutes to his time, to check my simple and humble implementation and tell me if Im going to the right direction, I appreciate.

[2015-09-17 14:38] Max87ZA commented on #15
Hi guys, I have similar error on Appcelerator Studio 4.3.0, SDK 4.1.1 or 5.0.
It throws me this error: Script Error Couldn't find module: de.marcelpociot.collectionview for architecture: x86_64
I installed this module via gittio CLI.
Please help, thanks.

[2015-09-18 11:26] Max87ZA commented on #40
Same problem here with 4.1.1GA, deploy to simulator is fine, no luck with device. Marcel please fix it, this module is great. Thanks

[2015-09-18 11:30] nuno commented on #40
@Max87ZA  you have this file in you lib?

```root/app/lib/CollectionView.js ```

(https://github.com/mpociot/TiCollectionView/blob/master/lib/CollectionView.js)

[2015-09-18 11:46] Max87ZA commented on #40
I copied CollectionView.js from example app in modules folder of my app to /resources/lib directory, and is working!!! Thank you nuno, you saved my day :)

[2015-09-18 11:56] nuno commented on #40
Np, any time!

[2015-09-22 10:51] nuno opened #47 "Question add view between items"
I have a grid layout with 2 columns and 4 items (total 4), I added a custom view in the index 2, the question is, it is possible that the custom view can stay in the middle of the 4 columns but with full width?

Purpose: the custom view is to have a ADS in the middle.

******************************
Legend:

### = =
### __
### = =

******************************
### =    1- item column
### __    1

[2015-09-22 13:47] nuno commented on #47
related to the last comment I add this Image as reference:

![](https://docs.google.com/uc?id=0B-QA9Zb260-1TWJvWDBpVDBxdWs)

thanks.

[2015-09-22 14:26] nuno commented on #40
@Max87ZA  you can be close this issue?

[2015-09-22 14:26] nuno commented on #43
@skoften   you can be close this issue?

[2015-09-22 14:29] Max87ZA commented on #40
I'd like to, but I can't(or I don't know how). Can you please give me a hint how to do that?
Thank you.

[2015-09-22 14:58] #43 closed

[2015-09-22 16:26] nuno commented on #35
Does anyone have put the HeaderView to show? I just see the space but no text or background color :(

[code]
Thanks.

[2015-09-22 17:18] chuck415 commented on #47
For mobile, the goal image is good. For tablet, it's going to be more similar what you have know, but the ad is centered vertically with the cards in the row.

[2015-10-15 13:55] RayKahn opened #48 "minimumColumnSpacing & minimumInteritemSpacing Not Working"
Using Ti SDK 5.0.0.GA

In my index.xml I have declared the following:

`<ListView id="_listView" defaultItemTemplate="offers" module="de.marcelpociot.collectionview" method="createCollectionView" renderDirection="collectionView.DIRECTION_SHORTEST_FIRST" layout="collectionView.LAYOUT_WATERFALL" minimumColumnSpacing="2" columnCount="2" minimumInteritemSpacing="1" onItemclick="itemClicked">`
`<Templa

[2015-10-15 14:56] nuno commented on #47
Solved by have 2 item templates.

[2015-10-15 14:56] #47 closed

[2015-10-15 18:03] RayKahn opened #49 "Position of item clicked"
I am trying to create a Pinterest like effect using the CollectionView. How do I get the top and left values of an item when it is clicked? Is there a simpler way of getting an item's position?

[2015-10-16 14:44] #48 closed

[2015-10-16 17:59] #49 closed

[2015-10-16 18:01] nuno commented on #49
@RayKahn You figure out?

[2015-10-16 20:01] RayKahn commented on #49
Yes I did...

[2015-10-17 13:49] nuno commented on #49
@RayKahn you want share with the ppl? :)

[2015-10-17 14:17] RayKahn commented on #49
Sure... bcontainer is my main view:

function itemClicked(event) {

	var point = event.source.convertPointToView({
		x: event.x,
		y: event.y
	}, $.bcontainer);

	var offer 	= offersDataSet[event.itemIndex]; // this is my data array

	var left 	= point.x - event.x;
	var top 	= point.y - event.y;

}

[2015-10-17 14:19] nuno commented on #49
@RayKahn Thanks for sharing, may help others! :+1:

[2015-10-17 20:04] RayKahn opened #50 "URGENT: Inconsistent formatting on iPhone device when using dynamic height"
Hello,
I have noticed that when the app is deployed to an iPhone the column and row distance is not always consistent with what is generated on the simulator. Sometimes the distance is correct and at others its way more than what I have declared minimumColumnSpacing and minimumInteritemSpacing in my XML file. Does anyone know why is this happening? Has any one else experienced this issue? What is

[2015-10-17 22:54] RayKahn commented on #50
Adding shots of iPhone

Attempt 1 (way off column distance):
![img_0487](https://cloud.githubusercontent.com/assets/5870267/10561626/88bad022-74e6-11e5-837e-194b40512eae.jpg)

Attempt 2 (Incorrect column and item distance):
![img_0488](https://cloud.githubusercontent.com/assets/5870267/10561631/c9ed7504-74e6-11e5-8876-6558bb170edf.jpg)

Note the inconsistent item distances as well in this attempt:

[2015-10-22 17:23] RayKahn opened #51 "Where to get help for this module"
I posted a question about this module (Issue #50) and have not been able to resolve or find an answer for it. Is this module production ready? Can it be used in commercial applications when it behaves differently on a device? Who can answer/help me with my question?

[2015-10-28 08:51] kenneth488 opened #52 "Pull-to-Refresh only works when collection is filled"
Hi mpociot

The Pull-To-Refresh mechanism only works when the collectionview is filled with items, thus by only having a few items, Pull-To-Refresh wont work. It would be a good idea to implement in a way such that this mechanism should work no matter how many cells are in the actual collection :)

Best Regards,
Kenneth

[2015-11-03 09:53] brianjd commented on #40
I received the same error as original post.  Then ran build from XCode.  I am currently receiving the following when building against 5.0.2.GA, targeting a physical device.

<img width="555" alt="ticollectionview" src="https://cloud.githubusercontent.com/assets/587461/10905019/3f5e7a4e-81cc-11e5-8678-beb8cb0ded46.png">

[code]

@mpociot What are you currently building against in your production ap

[2015-11-03 10:34] Max87ZA commented on #40
Have you LiveView enabled? If so, try to disable it if target is device and build the project.

[2015-11-03 12:09] nuno commented on #40
@brianjd ti sdk 5.0.2.GA have issues run directly in xcode.

[2015-11-03 17:56] brianjd commented on #40
@Max87ZA I do not have LiveView enabled, as far as I know `appc run` doesn't require an explicit `--liveview false`.

@nuno What issue are you referring to? I also tried building against 5.1.x yesterday.

[2015-11-04 12:22] necov commented on #50
How did you even get the differences in height in the pictures? My pictures sticks to a sqaure format.

[2015-11-04 23:02] RayKahn commented on #50
@necov Please see my entries, both XML and .tss.

<ListView id="_listView" defaultItemTemplate="offers" module="de.marcelpociot.collectionview" method="createCollectionView"
				renderDirection="collectionView.DIRECTION_SHORTEST_FIRST" layout="1"
				columnCount="2" minimumColumnSpacing="10dp" minimumInteritemSpacing="8dp">
				<Templates>
                     <ItemTemplate name="offers" class="_o

[2015-12-21 11:49] e3bmo3ty commented on #35
any luck for fix this ?

[2016-01-04 09:45] skoften opened #55 "Disable log info"
Can't seem to find a way to disable logging. Is it me or?

[2016-01-15 16:55] nuno commented on #49
Hey @RayKahn in your "Pinterest like effect using the TiCollectionView" did you implemented the swipe photos?  And you open new window when  "item when it is clicked" or another View/ListView? Im curious and doing similar effect on one project.

[2016-01-15 17:39] RayKahn commented on #49
@nuno I am not doing the "swipe photos" effect. But I do open a new window which displays the details of the element, just like Pinterest app does.

[2016-01-15 17:56] nuno commented on #49
@RayKahn Ok thanks is like im doing, so with your "convertPointToView"  when you close the window to back to  collectionview again you go the right spot, correct?

[2016-01-15 17:59] RayKahn commented on #49
@nuno That's correct. Since I just hide the main view (waterfall view), and do not close it, I am guaranteed to be back to the same spot when I minimize the detail view.

[2016-01-15 18:05] nuno commented on #49
@RayKahn, interesting, then the (waterfall view) and the (detail view) are in the same window, you do not open a new window just for detail? Is the (detail view) a regular Ti.UI.View?

Good is the "SCROLL_HORIZONTAL" be dynamic and not "read only"

[2016-01-15 18:11] RayKahn commented on #49
@nuno  Yes the detail page is a "view" within the main window which also houses the waterfall view. And the detail view is a regular Ti.UI.View.

I am not sure what you mean by 'Good is the "SCROLL_HORIZONTAL" be dynamic and not "read only"'

[2016-01-15 18:26] nuno commented on #49
@RayKahn, this module have the ability to SCROLL_HORIZONTAL or GridView (vertically scroll), but we not able to change it on the fly.

If we where able to change we could change from Gridview to HORIZONTAL, the our detailview could be swipe able too. Like Pinterest :)

Take a look at the docs:

iOS specific configuration (Creation Only!)
scrollDirection (SCROLL_HORIZONTAL | SCROLL_VERTICAL ) Defau

[2016-01-15 22:27] RayKahn commented on #49
@nuno OK I see what you mean. I only use vertical scroll.

[2016-01-16 15:49] nuno commented on #49
@RayKahn, question, in your example:

[code]

```$.bcontaine``` is exactly what? I ask you becouse in my tests I get always errors:

[code]

Thanks @RayKahn !

[2016-01-16 16:06] RayKahn commented on #49
@nuno $bcontainer is the view which holds the waterfall view (module="de.marcelpociot.collectionview").  I have defined that in my index.xml. See below.

`<Alloy>`
	`<Window id="indexWin">`
		`<View id="bcontainer">`
`<ListView id="_listView" defaultItemTemplate="offers" module="de.marcelpociot.collectionview" method="createCollectionView"
			renderDirection="collectionView.DIRECTION_SHORTEST_FIRS

[2016-01-16 16:16] nuno commented on #49
ah you assigned the ```onClick="itemClicked"``` inside of the template, and not on the ```<ListView  ...``` directly.
You could have told me initially,  had avoided so many questions on my part :)

Thanks @RayKahn for your time!

[2016-01-16 16:18] RayKahn commented on #49
@nuno Initially I tried that path but it wouldn't work. That's why I had to assign it inside the template.

[2016-01-16 18:15] nuno commented on #49
@RayKahn Thanks :+1:

[2016-02-19 11:57] ankitsmit commented on #40
i had faced same problem when i create a new project and run it.

my log here,

[INFO] :   Invoking xcodebuild
[INFO] :   Image optimization complete
[ERROR] :  ** BUILD FAILED **
[ERROR] :  The following build commands failed:
[ERROR] :  	Ld build/Test1.build/Debug-iphoneos/Test1-universal.build/Objects-normal/arm64/Test1 normal arm64
[ERROR] :  (1 failure)
TRACE  | titanium exited with exit code

[2016-02-19 14:24] falkolab opened #57 "Android: Memory leaking"
Your module has leaks. I tested it on this example https://gist.github.com/falkolab/cf9652613fe7b4836f63
with fixed sdk 5.1.2 (https://jira.appcelerator.org/browse/TIMOB-19891).

This screen shows difference of two dumps: 1 - before demo win is opened an 2 - after it closed.

[MAT diff](https://yadi.sk/i/LIM5sQMYp7pcw)

[2016-02-19 14:31] falkolab commented on #57
I test it at 30 items and without ActivityIndicator and infinite scroll widget.

[2016-02-20 13:01] HazemKhaled commented on #40
@ankitsmit try this build
https://github.com/viezel/TiCollectionView/blob/master/dist/de.marcelpociot.collectionview-iphone-1.4.1.zip

[2016-02-24 12:37] HazemKhaled opened #58 "Horizontal direction not working unexpected"
I'm using CollectionView in same app sometime vertical and some times horizontal, unfourtunilty some time the property ignored for no reason, in same page i've 5 instances in same screen, 3 working fine (horizontal) and 2 ignoring the property from the proxy.

I'm sure @philet have same issue, and his workaround by set horizontal ad default value, but it's not enough in case i need both vertical a

[2016-02-24 19:29] philet commented on #58
Yes, I had the same problem and indeed hardcoded the horizontal direction as a default value as I only needed this. Would be great though to make the configuration work correctly.

[2016-04-01 13:22] nuno opened #59 "Run on main thread need to be implemented"
If we use <run-on-main-thread>true</run-on-main-thread> in tiapp.xml the module unfortunately it does not work. @mpociot  @viezel @adesugbaa Any help is appreciated!

[2016-04-04 16:13] scottybo opened #60 "Really struggling to get Waterfall working on Android"
I'm really struggling to get the Waterfall view working on Android. Testing on emulator for Nexus 5 and on a real Galaxy Note 3.

The problems are as follows (screenshots below):
- The list items don't have equal spacing above/below and often overlap
- When scrolling items out of/into view their positions change and sometimes disappear out of the top of the list view

![screenshot from 2016-04-04

[2016-04-18 08:30] mohitcis commented on #60
Hi,
I am also facing the same issue in android. @scottybo did you get any solution of this issue.
If you got it. please let me know about it.
Thanks

[2016-04-18 10:50] scottybo commented on #60
Unfortunately not - still haven't been able to figure it out :(

[2016-04-18 11:49] mohitcis commented on #60
Hi @scottybo ,
Thanks for reply
Bad luck for us. If you will get any solution Please tell me about it.
Thanks

[2016-04-18 11:58] scottybo commented on #60
Please also let me know if you find a solution or an alternative module :)

[2016-04-18 12:02] mohitcis commented on #60
Yes sure @scottybo

[2016-04-25 20:47] amigoni opened #61 "Web images don't seem to load"
If I add images where the .image parameter is a URL they don't seem to load at all. Anyone else experiencing this?

[2016-06-02 03:20] amigoni commented on #25
I'm having issues setting the properties as well. I tried everything TSS, XML.

`<Alloy>
	<NavigationWindow id="itemsRoot" platform="ios">
        <Window id="win" fullscreen="true" navBarHidden="true">
        	<Require id="navBar" required="true" src="navigation.navBar" type="widget"/>
			<ListView id="itemList" columnCount="2" backgroundColor="white" defaultItemTemplate="item" module="Collectio

[2016-06-16 22:14] amigoni opened #62 "Example crashes on Android 6.0.1"
[code]

[2016-06-24 13:39] AppWerft opened #63 "Fix for AssetCryptImpl"
1. remove all files from assets
2. rm build/*
3. ant clean
4. add line with "architectures: armeabi armeabi-v7a x86"
5. remove line commonJS : true
6. ant

Et voilà!

[2016-06-24 13:49] AppWerft commented on #59
OK, it is possible to realize. Look to my tutorial. https://github.com/AppWerft/TitaniumAndroidModuleDevelopment/blob/master/04-WaterWaveProgress.md

[2016-10-08 13:28] #52 closed

[2016-10-08 20:17] nuno commented on #55
Can you see if 1.4.1 is better?

[2016-10-08 20:23] #44 closed

[2016-10-08 20:26] nuno commented on #40
It is fix on 1.4.1? Can I close?

[2016-10-08 20:26] nuno commented on #41
It is fix on 1.4.1? Can I close?

[2016-10-08 20:28] nuno commented on #38
It is save to close?

[2016-10-08 20:28] nuno commented on #35
@e3bmo3ty   Not yet, sorry.

[2016-10-08 20:30] nuno commented on #24
@julien9999  is the same as a ListView with templates.

[2016-10-08 20:30] #24 closed

[2016-10-08 20:31] nuno commented on #4
@mpociot  you never actually had the change to implement on Android, Im correct?

[2016-11-04 14:54] hansemannn commented on #59
I'll take a look 😉

[2016-11-04 14:55] nuno commented on #59
@hansemannn You the man!

[2016-11-04 15:06] hansemannn commented on #59
Basically what you guys need is to use `ENSURE_UI_THREAD` in some places for the correct threading behavior, especially for UI-related manipulations. And you use some mutex locks (`pthread_mutex`) that can cause problems across some places when running on main thread.

You can search the Titanium Core for `ENSURE_UI_THREAD` and `TI_USE_KROLL_THREAD` to see where and how we use those. Not sure when

[2016-11-04 15:54] nuno commented on #59
Thank you for your time @hansemannn !

[2017-02-03 08:29] skoften opened #65 "Won't run on SDK6+"
[WARN] :   Could not find a valid Titanium module id=de.marcelpociot.collectionview version=latest platform=iphone deploy-type=development
[ERROR] :  Found incompatible Titanium Modules:
[ERROR] :     id: de.marcelpociot.collectionview	 version: 1.4.1	 platform: ios,iphone	 min sdk: 3.5.1.GA

[2017-04-18 12:54] hansemannn commented on #59
Will look into it this week. What else are critical iOS issues in here? A prioritized list would be cool. Thanks!

[2017-04-19 13:03] nuno commented on #59
I Have a few things yeah. I will put in list.
One think I want this module be able to do is change the layout on the fly, ex, like pinterest

You have list of grid-layout, then you click one grid and change to horizontal-layout (kinda of scrollableView) that you can swipe to one by one item.

[2017-04-19 13:39] nuno opened #67 "setContentOffset - need implementation"

[2017-04-19 13:41] nuno opened #68 "isLazyLoadingEnabled - need implementation"
isLazyLoadingEnabled is needed for the imageView, since this module share some ListView api

[2017-04-19 13:43] nuno opened #69 "scrollend and scrollstart events - need implementation"

[2017-04-19 14:49] hansemannn commented on #67
Fixed in https://github.com/nuno/TiCollectionView/pull/66/commits/49d48b36a05aab31232a64a0f5d43baf2b896936?diff=unified.

[2017-04-19 15:05] hansemannn commented on #69
Could be fixed in https://github.com/nuno/TiCollectionView/pull/66/commits/ce064a4dd197e1119a4d794efe321c047c3160dc, can you try it out?

[2017-04-19 15:06] hansemannn commented on #68
Should be pretty straight forward from the list-view implementation. I added it there back then, [here](https://github.com/appcelerator/titanium_mobile/pull/7320/files) is the PR.

[2017-04-19 15:07] hansemannn commented on #65
Just tested using #66, works fine! @nuno close?

[2017-04-19 15:07] hansemannn commented on #63
@nuno Add to the readme and close?

[2017-04-19 15:08] hansemannn commented on #62
@nuno related lines:
[code]
Probably some missing default (integer) value.

[2017-04-19 15:08] hansemannn commented on #59
The example works using #66, please try it out!

[2017-04-19 15:10] hansemannn commented on #58
@HazemKhaled Can you give a (full) example code that fits in an app.js? Either it's because the constants are defined incorrectly or executed on the wrong thread. Thx!

[2017-04-19 15:11] hansemannn commented on #55
@nuno Logging looks good - We may consider to change the default debug-level to `[TRACE]` to hide it for non-devs.

[2017-04-19 15:12] hansemannn commented on #45
Hey guys, I tried to implement it in #66, try it out! #69 should also be closed as a dupe of this one (cc @nuno).

[2017-04-19 15:12] hansemannn commented on #40
@nuno Please close, works fine!

[2017-04-19 15:14] #45 closed

[2017-04-19 15:19] nuno commented on #68
Yup I have done that in one specific app that use this module.

[2017-04-19 15:21] nuno commented on #63
Yup!

[2017-04-19 15:24] hansemannn commented on #68
Fixed in https://github.com/nuno/TiCollectionView/pull/66/commits/4c87ba2eb0479c981abedd2ff96cf03cde26abf0

[2017-04-19 15:25] #68 closed

[2017-04-19 15:25] #69 closed

[2017-04-19 15:25] #67 closed

[2017-04-19 15:26] nuno commented on #65
@skoften If  you more issues please reopen.

[2017-04-19 15:26] #65 closed

[2017-04-19 15:28] nuno commented on #61
@amigoni can you please be more explicite ?  Any code will be great! Thanks.

[2017-04-19 15:30] nuno commented on #62
wondering if @AppWerft want join us on this module refactor :) @hansemannn

[2017-04-19 15:57] AppWerft commented on #62
What do you think?

[2017-04-19 16:07] nuno commented on #62
I do think android will need some features that @hansemannn just implemented today, I do like have your help if you have time and motivation of course.

[2017-04-19 16:57] #40 closed

[2017-04-19 17:48] AppWerft commented on #62
Currently I'm in stress to finish  other projects

Am 19.04.17 um 18:07 schrieb Nuno Costa:

--
*Dipl.-Ing. Rainer Schleevoigt*
Certified TYPO3 Integrator
Certified Titanium App Developer

	Novalisweg 10
22303 Hamburg
℡ 040 60812460
|Ust-ID: DE239491976|||||||

[2017-08-01 12:18] MahmoudElmoghazy commented on #62
@amigoni Sorry i wont to ask where is the module for Android 6.0.1  can u help plz :)

[2017-08-01 17:53] nuno commented on #62
Not sure if someone already build one for sdk 6+ .  Sorry

[2017-08-03 11:43] MahmoudElmoghazy opened #71 "Android module for sdk 6"
I can't compile this module cause my studio have an issue and i can't fix it for now can any one compile this module for android 6 and upload it

[2017-08-16 09:57] MahmoudElmoghazy commented on #62
@nuno Is there any updates for fixing this issue and new module for android 6 plz i need to use but i can't can u help plz  :)

[2017-09-25 18:32] m1ga commented on #71
version 1.3.0 is 6+ ready!
https://github.com/nuno/TiCollectionView/tree/master/dist

[2017-09-26 10:25] AhmedMohamed2014 opened #73 "example doesn't work"
The example doesn't work and crash with alloy example.
The real module name is 'de.marcelpociot.collectionview', so why you write 'ti.collectionview'

[2017-09-26 10:49] nuno commented on #73
@hansemannn can you please explain to him?
we have to
1 rename android too or
2 Put Back on iOS

Thanks

[2017-09-26 10:51] #71 closed

[2017-09-26 10:51] #63 closed

[2017-09-26 10:52] #61 closed

[2017-09-26 10:54] #59 closed

[2017-09-26 10:56] #55 closed

[2017-09-26 10:56] #51 closed

[2017-09-26 11:00] #16 closed

[2017-09-26 11:07] nuno commented on #22
Seems very old, please reopen if needed

[2017-09-26 11:07] #22 closed

[2017-09-26 11:08] nuno commented on #26
Seems very old, please reopen if needed

[2017-09-26 11:08] #26 closed

[2017-09-26 11:11] hansemannn commented on #73
Mhh, I didn't touch the Android naming, damn. "ti.collectionview" is easier to use (e.g. for Alloy views like `<CollectionView module="ti.collectionview" />`, so we should just change the Android module ID and bump it as well?

[2017-09-26 11:17] MahmoudElmoghazy commented on #71
@m1ga Thank u so much :)

[2017-09-26 14:00] skoften opened #74 "The application has crashed with an uncaught exception 'NSInternalInconsistencyException'."
When I create a default example the app crashes.

iOS 11.0 / SDK 6.2.2.GA

Console:

[code]

index.js:

[code]

[2017-09-26 14:52] AhmedMohamed2014 commented on #73
and please check the examples in the example/ and android/example/ folders, they are different and crashes with alloy

Thanks

[2017-09-27 11:21] #62 closed

[2017-09-27 11:22] nuno commented on #73
@m1ga  do you want change the mod id to "ti.collectionview" in android and bump to version 2.0 ?

[2017-09-27 15:46] m1ga commented on #73
sure: https://github.com/nuno/TiCollectionView/pull/76/

[2017-09-27 15:51] nuno commented on #74
var TiCollectionView = require("ti.collectionview");   is the new mod id :)

[2017-09-27 15:52] nuno commented on #73
Many thanks to both  @hansemannn and @m1ga you guys rock!

[2017-09-28 13:02] AhmedMSayed opened #77 "Wrong layout"
@nuno @m1ga  thanks for resolving previous issues.
now if I set all items with the same height it's okay. but when I'm trying to set one item with different height it looked like this.
The layout should be formed before it appears in the list view not when scrolling.

Another question I'm set `renderDirection="DIRECTION_RIGHT_TO_LEFT" layout="LAYOUT_WATERFALL"` in the listView and there was no cha

[2017-09-29 16:42] m1ga commented on #77
@AhmedMohamed2014 sorry, can't help your there since I'm not using it, just made it work with the latest SDK 😄

[2017-09-29 22:08] AhmedMohamed2014 commented on #77
@m1ga no, I just wanted to say thanks for helping me with first issues 😄.

[2017-09-29 22:18] nuno commented on #77
I think "LAYOUT_WATERFALL" is just for ios, no?
 Sorry  I'm not using it too :(

Like @m1ga I  just tried to make it work for you guys!

[2017-09-29 22:19] nuno commented on #74
Please open if that continue, thanks.

[2017-09-29 22:19] #74 closed

[2017-09-29 22:21] nuno commented on #60
Closed for now for missing activity :)
I think "LAYOUT_WATERFALL" is just for ios, no?

[2017-09-29 22:21] #60 closed

[2017-09-29 22:24] nuno commented on #50
Reopen if need, please test with module 2.0, thanks!

[2017-09-29 22:24] #50 closed

[2017-09-29 22:27] nuno commented on #4
It never was change to implement on Android, sorry :(

[2017-09-29 22:31] #5 closed

[2017-09-30 12:40] AhmedMohamed2014 commented on #77
No problem guys. thanks at all @nuno, but where is the module master.

[2017-10-06 11:24] ottopic opened #78 "iOS dist 2.0.0 ?"
Hello,
in change log I read about iOS 2.0.0 version but I don't find it into diet folder, where is it?

Best regards and thank for the great work!

[2017-10-08 22:24] ottopic commented on #73
I'm trying android 2.0 version with your last example but it seems doesn't works.
Who can help me?

`
[ERROR] :  TiApplication: (main) [1,3112] Sending event: exception on thread: main msg:java.lang.RuntimeException: Unable to start activity ComponentInfo{com.test.collectiont/org.appcelerator.titanium.TiActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void de.marcelpoci

[2017-10-09 13:18] nuno commented on #73
@ottopic Thanks, seems the example was not updated to reflect the new mod. id name.
Check my last commit.
Remember the name of the module changed, to "ti.collectionview", so if you see any error with name "de.marcelpociot.collectionview.CollectionView" try find and replace.

Some  widgets like:  nl.fokkezb.pullToRefresh  and nl.fokkezb.infiniteScroll may need add this "ti.collectionview" the array

[2017-10-09 13:27] ottopic commented on #73
@nuno that's the problem. I have used your example https://github.com/nuno/TiCollectionView/blob/master/example/app.js that report correct name and android dist 2.0.0 (https://github.com/nuno/TiCollectionView/blob/master/dist/ti.collectionview-android-2.0.0.zip) .

So, how I can solve it?

[2017-10-09 13:32] nuno commented on #73
@ottopic  please make sure the name is correct on tiapp.xml  or you have to give me more info.

with the example fixed and with correct name on tiapp.xml should work. Please clear the project first before the next build ;)

[2017-10-09 13:46] ottopic commented on #73
@nuno I can confirm the problem because I have created new project to test it. I add the module width Titanium interface than I use:

`var TiCollectionView = require('ti.collectionview');`
and
`var collectionView = TiCollectionView.createCollectionView(`

I can attach the project if necessary.

[2017-10-09 13:58] nuno opened #79 "Android is not 100% migrated to new module name"
There are some files that still have:
@m1ga There is something that you can check when you have free time?
@ottopic issue https://github.com/nuno/TiCollectionView/issues/73

[code]

https://github.com/nuno/TiCollectionView/blob/master/android/src/de/marcelpociot/collectionview/CollectionViewProxy.java#L437

[2017-10-09 13:58] nuno commented on #73
@ottopic I think I found the cause, on android the new module name is not 100& migrated yet.

Look at https://github.com/nuno/TiCollectionView/issues/79

Sorry about that.

[2017-10-09 14:01] ottopic commented on #73
@nuno thank you. No problem for the bug, the goal is fix it. :)
I think this module is very important!

[2017-10-09 14:05] nuno commented on #73
attach the project please

[2017-10-09 15:23] m1ga commented on #73
I was running the example without any errors so I'm not sure if changing the `getApiName()` method will change anything. I'll do the changes in #79 but I think the problem is somewhere else.

[2017-10-09 15:26] AhmedMohamed2014 commented on #73
@ottopic try it without nl.fokkezb.pullToRefresh

[2017-10-09 15:27] m1ga commented on #73
right, I removed that widget too! Since it isn't part of the module (and if you use 6.2.2 you can use the build in Refresh SDK!)

[2017-10-09 16:29] ottopic commented on #73
I confirm the problem. Project in attachment

[collectionview.zip](https://github.com/nuno/TiCollectionView/files/1369201/collectionview.zip)

[2017-10-09 17:30] m1ga commented on #73
The Alloy version works fine. Looks like the vanilla versions makes problems

[2017-10-09 17:43] nuno commented on #73
Thanks @m1ga
I submitted the PR on both
also with my last commit I changed all the names to ```ti.collectionview```
https://github.com/Topener/nl.fokkezb.infiniteScroll/pull/64
https://github.com/Topener/nl.fokkezb.pullToRefresh/pull/74

[2017-10-09 18:00] nuno commented on #79
@m1ga if you think this is not an issue, let me know :)

[2017-10-09 18:13] m1ga commented on #79
see https://github.com/nuno/TiCollectionView/pull/80

[2017-10-09 18:17] nuno commented on #79
Can I merge?

[2017-10-09 18:21] m1ga commented on #79
yes, but it didn't fix the issue for me (Alloy is still working, even without the changes). But it will correct the naming

[2017-10-09 18:27] nuno commented on #79
this can be bacause of folders naming?
```/src/de/marcelpociot/collectionview```
  I do not know, Im not an android expert, thanks.

[2017-10-09 18:29] m1ga commented on #79
No, thats not an issue. The problem is `item.setDefaultProperties(new KrollDict((HashMap)props));` that item is null in a vanilla project. Working fine in Alloy. Doing some tests at the moment to see what the source is

[2017-10-09 18:31] nuno commented on #79
ok, is normal in manifest the "commonjs: true"  ?

[2017-10-09 19:27] m1ga commented on #79
Can't find the issue. But this is where it goes wrong. Inside the `processProperties` of the CollectionViewTemplate there are some differences:

Properties of the alloy version:
[code]

properties of the vanilla version:
[code]

Perhaps someone else has a clue

[2017-10-09 20:05] nuno commented on #79
Alright, thanks @m1ga!

[2017-10-09 20:07] nuno commented on #73
@ottopic for now you must use Alloy see https://github.com/nuno/TiCollectionView/issues/79

[2017-10-09 20:07] #79 closed

[2017-10-09 20:09] #78 closed

[2017-10-10 06:12] ottopic commented on #73
@nuno thank you but my app is already build in Vanilla mod and I can't change to Alloy. I'll wait the fix.

[2017-10-10 06:13] ottopic commented on #78
Why do you close it?

[2017-10-18 12:03] gnosticism opened #81 "The application has crashed with an uncaught exception 'NSInternalInconsistencyException'."
i've been tracking this module for 2 years but never been able to use it. Issues everytime.

`[ERROR] :  The application has crashed with an uncaught exception 'NSInternalInconsistencyException'.
[ERROR] :  Reason:
[ERROR] :  could not dequeue a view of kind: UICollectionElementKindCell with identifier dealsTemplate - must register a nib or a class for the identifier or connect a prototype cell in

[2017-10-19 05:25] #81 closed

[2017-10-20 11:50] ottopic commented on #73
Are there news about this fix? Does nobody can try to solve it?

[2017-11-02 10:02] ottopic commented on #79
@m1ga any news about the issue? Have you tried to find a solution?

Best regards

[2017-11-02 10:10] ottopic commented on #58
Hello @hansemannn, can you help other contributors to understand what's the problem of issue #73?

Thanks in advance

[2017-11-03 14:45] m1ga commented on #79
@ottopic no, sorry. If you can use the alloy version, that was working for me. But I'm not really using this module so I only tested the example

[2018-01-05 13:29] skoften opened #82 "update to latest dist build for SDK 7.0.1.GA"
Can't find 2.0.0 dist, a fresh build would be great!

[2018-01-05 15:36] skoften opened #83 "Can't build iOS module with Xcode"
Several build errors :-(

![screen shot 2018-01-05 at 16 34 10](https://user-images.githubusercontent.com/1286410/34615874-91289c7e-f236-11e7-827e-c5b65afbef27.jpg)

[2018-01-11 16:49] #83 closed

[2018-01-22 19:07] ottopic commented on #82
I'm trying to recompile but it stops during "packaging module". Who can help me to understand what is the problem?

Download the module https://we.tl/gmtpeNfCcr

[2018-01-28 10:10] ottopic commented on #82
@nuno , @hansemannn can you help me to recompile with 7.0.1 . I'm trying from several time but I can't.
When I run "appc run p android --build-only; " it seems all works fine, but at "Packaging the module" step it stops or breaks without any messages.

Thanks in advance.

[2018-01-28 10:57] hansemannn commented on #82
@skoften I think @nuno uses the dist/ directory instead of the releases page, which may be because Github introduced this feature a few years ago and this module may even be older. But it's all there:

https://github.com/nuno/TiCollectionView/tree/master/dist

[2018-01-28 10:57] hansemannn commented on #82
@nuno Can you close this one?

[2018-01-28 11:05] ottopic commented on #82
@nuno @hansemannn please don't close it, I have posted a help request about upgrade to 7.0.0 .

[2018-01-28 11:14] hansemannn commented on #82
Oh, you mean for Titanium SDK 7? I actually thought Android 2.x would already be for 7 but it isn't. Filing a PR now.

[2018-01-28 11:17] m1ga commented on #82
@ottopic empty the documents folder and it will compile. There is a bug with some of the filetypes in there (there is already a jira ticket about that)

[2018-01-28 11:21] ottopic commented on #82
@hansemannn yes Titanium SDK 7.x.x

@m1ga android/documentation/ ? Or my personal user documents ?

[2018-01-28 11:22] m1ga commented on #82
sorry, `android/documentation/` not your doc folder :)

[2018-01-28 11:31] ottopic commented on #82
Oh my God! What's s*** of bug!!! Now I can finally try to recompile it!

Many thanks!

[2018-01-28 11:53] hansemannn commented on #82
Hehe, yeah, that was it. Fixed as part of https://github.com/nuno/TiCollectionView/pull/85

[2018-01-28 11:54] hansemannn commented on #82
Not sure if it's a bug though. The documentation/ directory should only include markdown files, not images. The build script tries to covert them to html, which fails for non-markdown files (inside a used node module). But the CLI should error out instead of hanging I guess. @m1ga where's the ticket?

[2018-01-28 11:56] m1ga commented on #82
https://jira.appcelerator.org/browse/TIMOB-25418

[2018-01-28 12:30] ottopic commented on #82
@hansemannn excuse me if I write here, do you know if the update of ti.admob to 7.0.1 Titanium SDK is working in progress? Because it doesn't works in 7.0.1 app project. Thanks

[2018-01-28 12:35] hansemannn commented on #82
@ottopic very impolite ...

[2018-01-28 12:47] ottopic commented on #82
@hansemannn I don't want be impolite, but I'm not able to open issue on ti.admob project. I don't how ask help. Sorry for misunderstanding.

[2018-01-28 21:32] sachincredible9 opened #86 "Compilation Error with App SDK 7.0.1.GA"
Hello Team ,

I am using sdk 7.0.1.GA , Xcode 9.2  Getting following error While compilation:
Ld build/Intermediates/TestAPP.build/Release-iphoneos/TestAPP.build/Objects-normal/armv7/TestAPP normal armv7
[TRACE] :      cd /Users/TESTUSER/Documents/1/TestAPP/build/iphone
[TRACE] :      export IPHONEOS_DEPLOYMENT_TARGET=8.0
[TRACE] :      export PATH="/Applications/Xcode.app/Contents/Developer/Platf

[2018-01-31 14:02] nuno commented on #82
Can be closed?

[2018-01-31 14:05] ottopic commented on #82
Yes

[2018-01-31 14:15] nuno commented on #82
Thanks @hansemannn and @m1ga

[2018-01-31 14:15] #82 closed

[2018-01-31 14:32] hansemannn commented on #86
What version of the module are you using? As a workaround, try to set `Ti.UI.createRefreshControl()` somewhere in your code, so the symbols are generated for sure.

[2018-01-31 14:34] hansemannn commented on #77
The `LAYOUT_WATERFALL` constant is indeed iOS only, you cannot use it for other platforms.

[2018-02-01 14:06] #77 closed

[2018-02-01 14:08] #41 closed

[2018-02-04 01:32] sachincredible9 commented on #86
2.0.1 , It works, after adding Ti.UI.createRefreshControl.  Thanks a lot !!!

[2018-03-16 14:41] rlustemberg commented on #83
I think the typo is also on the sdk. Because the titaniumxcconfig is missing I don't know which sdk version this has been compiled to

[2018-03-16 14:46] rlustemberg commented on #83
Compiling to 6.x.x contains the typo. 7.x has it fixed, and is in sync with your fix

[2018-03-16 14:50] rlustemberg opened #88 "Cannot build for iOS, missing Titanium.xcconfig and manifest files"
It looks like some glitches sneaked through the migration to the ios directory and the ti.collectionview module id.
I was about to fix the ios  bug of SCROLL_HORIZONTAL not working, when I run into the issues of not being able to build.
The current master branch of the module misses Titanium.xcconfig and the  manifest file.
The missing titanium.xcconfig causes a file not found "APSHTTPClient.h" .

[2018-03-17 14:33] rlustemberg commented on #58
@hansemannn
Problem is caused by _collectionView being instantiated before the properties have been set.
~-(void)_initWithProperties:(NSDictionary *)properties~ in the proxy is being called after initialization of _collectionView, so the scrollDirection property on the proxy is always null

[2018-03-17 16:09] hansemannn commented on #58
Maybe move to _initWithPageContext:args: ? Thats called first, so you could get the properties from there. I‘m not planning to do that, but am happy to help in these kind of proxy questions

[2018-03-17 19:27] rlustemberg commented on #58
The funny thing is that when `configurationSet` is invoked by TiCollectionviewCollectionView , the dynProps from  TiProxy have not been set yet. It happens at a later stage. I'll do a quick and dirty solution for the scrollDirection property by adding a public property 'scrollDirection' to the TiCollectionviewCollectionView and setting it from the proxy. I don't like the approach and won't submit

[2018-03-17 20:08] rlustemberg commented on #58
I think I know exactly what causes it:
When invoking `[super _initWithProperties:properties]` on the proxy, it will eventually end up setting the 'templates' property, which uses a setter which ends up instantiating the collectionView before the remaining dynProps have been set, creating a race condition. I think if we avoid setting the templates at that stage, we can provide a more elegant fix fo

[2018-03-17 21:05] rlustemberg commented on #58
Ok, last comment. It's more complicated than my previous statement. The `collectionView` property is called at least 5 times before all of the dynProps are set. Either we figure out a way to prevent that, or we use an alternative for setting up the properties on the constructor

[2018-03-17 22:47] hansemannn commented on #58
Lets do a lazy initializer that invokes the required properties, wouldn‘t that help?

- (UICollectionView *)collectionView
{
  if (_collectionView == nil) {
    // Initialize
  }

  return _collectionView;
}

[2018-03-19 09:34] rlustemberg commented on #58
It's already implemented with a lazy initializer. The problem is that it's invoked before all the dynProps have been set.
setCanScroll_ (called when the proxy invokes `[self initializeProperty:@"canScroll" defaultValue:NUMBOOL(YES)];`

- (void)viewDidAttach
setSections
All of these methods are called before the dynProps are fully set. When the dyn props are being set, the setters end up calling se

[2018-03-19 09:41] rlustemberg commented on #58
'Creation time' properties include all of the waterfall attributes. I am using at the moment a personalised version with the quick and dirty fix, dealing only with the scrollDirection issue

[2018-03-20 12:39] SYN-nikhilbahalkar opened #90 "Not able to change the direction of scroll (Horizontal) in ios"
Hi ,
I am trying to change the scroll direction to horizontal in waterfall layout for that I am using following code:

var collectionView = TiCollectionView.createCollectionView({
    backgroundColor: 'white',
    templates: { 'template': myTemplate },
    defaultItemTemplate: 'template',
    scrollDirection: "SCROLL_HORIZONTAL",
    layout: "LAYOUT_WATERFALL",
});

using this I am not able to see

[2018-03-25 15:47] rlustemberg commented on #90
It's a duplicate of https://github.com/nuno/TiCollectionView/issues/58 . I have a working version (using a quick and dirty fix) at:
https://github.com/inzdr/TiCollectionView/tree/Quick-fix-horizontal-scroll
Use the 3.0.1 zip from iOS directory

[2018-03-26 13:11] SYN-nikhilbahalkar commented on #90
not able to find 3.0.1 ios directory .

[2018-03-26 13:12] rlustemberg commented on #90
It’s a zip file in the iOS directory on the branch

[2018-03-26 13:26] SYN-nikhilbahalkar commented on #90
Thanks a lot buddy  ..!!!

It worked for me .

[2018-04-03 06:21] SYN-nikhilbahalkar commented on #90
Can we add a custom views in collection view as a list item ?
![screen shot 2018-04-03 at 11 54 15 am](https://user-images.githubusercontent.com/15123061/38232608-4dc8be2a-3735-11e8-8c90-08d3a30199ac.png)

[2018-04-16 15:06] genocsb commented on #25
hi, any new about this issue, I can't set layout LAYOUT_WATERFALL

[2018-06-08 07:04] ottopic commented on #35
Anyone tried to fix headerView / headerTitle ? Is there any workaround ?

[2018-07-25 22:25] ottopic opened #91 "collectionView SearchBar"
I tried to apply a search bar to the collection view to filter items. Search bar is displayed correctly but when I touch it all collection view and search disappear without errors in console.

[2018-07-28 20:51] MahmoudElmoghazy opened #92 "Pull to refresh doesn't work"
I have and issue i used the collection view and added to it pull to refresh widget put when i pull on list view no something shows
`
<Widget id="ptr" src="nl.fokkezb.pullToRefresh" onRelease="myRefresher">

			<ListView id="prodcts" defaultItemTemplate="default" module="CollectionView" method="createCollectionView">

				<HeaderView>
					<View class="headerView">

						<ScrollView id="tabs" onCl

[2018-10-30 08:48] ShahrayarSoueid opened #93 "cannot run on iOS"
On Android it is working fine, but on iOS it shows couldn't find module.

**[ERROR] :  Couldn't find module: ti.collectionview for architecture: x86_64
[ERROR] :  File: app.js
[ERROR] :  Line: <null>
[ERROR] :  SourceId: <null>
[ERROR] :  Backtrace:
[ERROR] :   undefined**

[2018-10-30 11:26] ShahrayarSoueid commented on #93
please help

[2018-10-30 12:45] #93 closed, assigned to nobody

[2018-11-04 09:10] ShahrayarSoueid opened #94 "Scrolling listeners are not working on android"
Hello,

Can you please help on this ? **scrolling listeners are not working on android**

Thank you

[2018-11-08 11:53] #94 closed, assigned to nobody

[2018-12-15 11:39] pritishgeorge opened #95 "Error while running example for classic Titanium app(android) on Ti SDK 7.5.0"
The following error is received

Attempt to invoke virtual method 'void de.marcelpociot.collectionview.CollectionViewTemplate$DataItem.setDefaultProperties(org.appcelerator.kroll.KrollDict)' on a null object reference

[2018-12-18 19:02] ginixsan opened #96 "LAYOUT_WATERFALL"
Anybody could make LAYOUT_WATERFALL working on iOS? none layout, minimumColumnSpacing, columCount works.. just makes a normal grid whatever I do...
`var scrollTickets = TiCollectionView.createCollectionView({
backgroundColor: 'white',
templates: { 'template': myTemplate },
    defaultItemTemplate: 'template',
    allowSelection:true,
    allowsMultipleSelectionDuringEditing:false,
    top:'0%',

[2019-07-21 10:39] reactnative103 opened #97 "How can we shift grid element to left as per given image required?"
Hi,

Please check the below image for this issue clarification.
I need to create grid view but if section grid items are odd so like 3, so last element show in center while it should be left align.

Please help me out from this issue.
<img width="906" alt="Screen Shot 2019-07-21 at 4 02 07 PM" src="https://user-images.githubusercontent.com/8066246/61590191-86873300-abd2-11e9-89d1-740f00f1a5ec.png"

[2019-11-06 18:06] torlanco commented on #25
I am not  able to set the  properties either, is on the  tss file or on the  xml element for ListView?

[2019-11-06 18:07] torlanco commented on #96
I  was unable too